@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  

}

* {
  font-family: "Lato", sans-serif;
}

body {
  user-select: none;
}


.footer
{
    background-image: url("/assistes/footer.png");
   
}

